@model Financeiro.Models.ViewModels.LoginViewModel

@{
    ViewBag.Title = "Login no Sistema";
    Layout = "_Layout"; // ou "_LayoutDeslogado" se você quiser um layout diferente para login
}

<h2 class="mb-4 text-light">@ViewBag.Title</h2>

@if (!string.IsNullOrEmpty(Model.MensagemErro))
{
    <div class="alert alert-danger">@Model.MensagemErro</div>
}

<form asp-controller="Conta"
      asp-action="Login"
      method="post"
      class="row g-4 bg-dark p-4 rounded shadow-sm text-light">

    @Html.AntiForgeryToken()

    <div class="col-md-12">
        <label asp-for="Login" class="form-label fw-semibold text-light"></label>
        <input asp-for="Login" class="form-control bg-dark text-light border-info" placeholder="Digite seu e-mail ou NameSkip" />
        <span asp-validation-for="Login" class="text-danger small"></span>
    </div>

    <div class="col-md-12">
        <label asp-for="Senha" class="form-label fw-semibold text-light"></label>
        <input asp-for="Senha" class="form-control bg-dark text-light border-info" type="password" />
        <span asp-validation-for="Senha" class="text-danger small"></span>
    </div>

    <div class="col-12 text-end">
        <button type="submit" class="btn btn-outline-info">Entrar</button>
    </div>
</form>